* {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

body {
    font-family: 'Raleway';
    background-color: black;
    color: white;
    text-align: center;

}

@import url('https://fonts.googleapis.com/css?family=Raleway:400');

html {
    font-size: 100%;
}

.iguanas {
    font-size: 3.125rem;
    text-align: center;
    padding: 1rem;
}

.bigheader {
    width: 100%;
    height: 100%;
}

.textoyfoto {
    width: 80%;
    margin: auto;
    font-weight: lighter
}

.textoyfoto div {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin: 4rem;

}

.iguana1 {
    width: 400px;
    height: 237px;

}

.parrafo1 {
    margin-bottom: 1rem;
}

.iconos {
    background-color: #1e1a13;
    padding: 5rem 1rem;
}

.iconos div {
    display: inline-block;
    width: 20%;
}

.iconos i {
    margin: 1.3rem 0;
    height: 4rem;
    margin-bottom: 0.2rem;
}

.textoIconos {
    font-size: 1.5rem;
    font-weight: lighter
}

.caracteristicas {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.fotos {
    display: inline-block;
    width: 100%;
    padding: 3rem;
}

.fotos img {
    width: 300px;
    height: 200px;
    padding: 0.5rem;
}

footer {
    background-color: #1e1a13;
    line: height 6rem;
    text-align: center;
    font-size: 1.25rem;
    padding: 2.5rem;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: white;
}